  {{> _header}}
<div class="row">
  {{#each colleges}}
    <div class="col-md-4 s12 m4">
      <div class="card">
        <div class="card-content center-align">
        <div><strong>College Name : </strong>{{collegeName}}</div>
    <div><strong>Address : </strong> {{collegeAddress}}</div>
    <div><strong>Email : </strong>{{collegeEmail}}</div>
    <div><strong>Phone no: </strong>{{collegePhone}}</div>
        </div>
        <div class="card-action center-align">
          <a class="btn grey" href="/colleges/all/{{collegeEmail}}">Read More</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No Colleges found</p>
  {{/each}}
</div>